<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div id="myTabContent">
  <div class="tab-pane active in" id="home">
      <div class="row">
        <div class="col-xs-6">
          <label>FirstName</label>
          <input type="text" value={{user.firstName}} class="input-xlarge" readonly="readonly">
          <label>LastName</label>
          <input type="text" value={{user.lastName}} class="input-xlarge" readonly="readonly">
          <label>Email</label>
          <input type="text" value={{user.email}} class="input-xlarge" readonly="readonly">
          <label>Phone Number</label>
          <input type="text" value={{user.phoneNumber}} class="input-xlarge" readonly="readonly">
        </div>
        <div class="col-xs-6">
          <label>Country</label>
          <input type="text" value={{user.country}} class="input-xlarge" readonly="readonly">
          <label>Postal Code</label>
          <input type="text" value={{user.postalCode}} class="input-xlarge" readonly="readonly">
          <label>City</label>
          <input type="text" value={{user.city}} class="input-xlarge" readonly="readonly">
          <label>Address</label>
          <input type="text" value={{user.address}} class="input-xlarge" readonly="readonly">
        </div>
      </div>
  </div>
</div>
